/* Project-specific styles go here */

.container {
  max-width: 850px;
  width: calc(100% - 3rem);
  margin: auto;
  padding-block: 2rem;
}

section {
  margin-block: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

.btn-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}